@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-onest: Onest Variable, sans-serif;

  --color-primary: #f15a5c;
  --color-secondary: #dddde0;
  --color-third: #ececee;
  --color-background: #fafafa;
  --color-text-primary: #000;
  --color-text-secondary: #1e2939;
  --color-inactive-navbar: #a43d3e;
  --color-hover-navbar: #dc2628;

  --color-stone-750: #272322;

  --animate-loading-spinner: loading-spinner 0.9s linear infinite;

  /* Carnation color */

  --color-carnation-50: #fdeded;
  --color-carnation-100: #fad4d4;
  --color-carnation-200: #f6acad;
  --color-carnation-300: #f38687;
  --color-carnation-400: #f15a5c;
  --color-carnation-500: #ec3337;
  --color-carnation-600: #c5292c;
  --color-carnation-700: #991d20;
  --color-carnation-800: #6d1214;
  --color-carnation-900: #400708;
  --color-carnation-950: #2a0303;

  /* *************** */

  @keyframes loading-spinner {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(1turn);
    }
  }

  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    50% {
      opacity: 0.2;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: 'Onest Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/onest:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer utilities {
  .scrollbar-styles::-webkit-scrollbar {
    width: 10px;
    height: 100%;
  }

  .scrollbar-styles::-webkit-scrollbar-track {
    background: #e0e0e0; /* color claro por defecto */
  }

  .scrollbar-styles::-webkit-scrollbar-thumb {
    /* background: #c0c0c0; */
    border-radius: 5px;
  }

  .scrollbar-styles::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
  }

  /* Modo oscuro con selector CSS */
  .dark .scrollbar-styles::-webkit-scrollbar-track {
    background: transparent;
    /* background: #2f2f2f; */
  }

  .dark .scrollbar-styles::-webkit-scrollbar-thumb {
    background: #555;
  }

  .dark .scrollbar-styles::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  @apply font-onest;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

.container {
  max-width: 56rem;
  margin: 1rem auto;
}
